<iframe
  class="w-full h-full absolute"
  [src]="videoUrl"
  frameborder="0"
></iframe>
<div class="h-screen bg-white">
  <div
    class="px-24 text-white bg-gradient-to-r from-black h-full pt-[15%] absolute"
  >
    <h1 class="text-6xl font-bold">{{bannerTitle}}</h1>
    <p class="w-1/4 py-6 text-xl inline-block flex-wrap">
      {{bannerOverview}}
    </p>
    <div>
        <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]"> ▶️ Play</button>
        <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">More Info</button>
    </div>
  </div>
</div>
