<iframe
  class="md:w-full md:h-full h-[30%] w-full absolute"
  [src]="videoUrl"
  frameborder="0"
></iframe>
<div class="md:h-screen h-[30vh] bg-white ">
  <div
    class="md:px-24 px-5 text-white bg-gradient-to-r from-black md:h-full h-[30vh] md:pt-[15%] pt-[25%] absolute "
  >
    <h1 class="md:text-6xl text-2xl font-bold">{{bannerTitle}}</h1>
    <p class="md:w-1/4 py-6 md:text-xl md:inline-block hidden flex-wrap">
      {{bannerOverview}}
    </p>
    <div class="flex my-2 ">
        <button class="bg-white  text-xs text-black md:py-4 md:px-12 md:w-auto   px-2 py-0  md:text-xl rounded-lg hover:bg-opacity-70 transition-[1s]"> 	&#9654; Play</button>
        <button class="mx-2 bg-gray-500 text-white md:px-12 md:py-4 px-2 py-0  md:text-xl bg-opacity-50 rounded-lg">More Info</button>
    </div>
  </div>
</div>
