<iframe
  class="w-full h-full absolute"
  src="https://www.youtube.com/embed/8FkLRUJj-o0?autoplay=1&mute=1&loop=1&controls=0"
  frameborder="0"
></iframe>
<div class="h-screen bg-white">
  <div
    class="px-24 text-white bg-gradient-to-r from-black h-full pt-[15%] absolute"
  >
    <h1 class="text-6xl font-bold">video title</h1>
    <p class="w-1/4 py-6 text-xl inline-block flex-wrap">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, amet
      ducimus? Alias animi voluptas eveniet, quae quis modi esse assumenda ipsa
      nostrum fugiat sit, culpa voluptatibus neque ea dolor ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi est, accusantium fugit mollitia aperiam odit aut saepe iste nesciunt magni quo, eum illo laborum facilis at, asperiores culpa ducimus odio!
    </p>
    <div>
        <button class="bg-white text-black py-4 px-12 text-xl rounded-lg hover:bg-opacity-70 transition-[1s]"> ▶️ Play</button>
        <button class="mx-2 bg-gray-500 text-white px-12 py-4 text-xl bg-opacity-50 rounded-lg">More Info</button>
    </div>
  </div>
</div>
