<div class="container md:px-20 md:mb-20 mb-10 ">
  <p class="font-semibold text-2xl my-3 ml-3">{{title!}}</p>
  <div #swiperContainer class="swiper-container md:w-auto ">
    <div class="swiper-wrapper">
      <ng-container class="" *ngFor="let movie of VideoContents">
        <div (mouseenter)="setHoverMovie(movie)" (mouseleave)="clearHoverMovie()" class="swiper-slide relative ">
          <img [src]="movie.backdrop_path | image" alt="" />
          <div @fade *ngIf="(movie.title === this.selectedContent) || (movie.name === this.selectedContent)"  class="desc p-2">
            <span class="text-base flex flex-wrap font-bold">{{movie.original_title}}</span>
            <p class="text-xs my-3">{{movie.overview | description}}</p>
            <div class="absolute py-3 w-[90%] bottom-1" >
              <p class="text-xs flex">
                <span class="text-green-600">Vote Average: {{movie.vote_average}}</span>
                <i
                  class="fa fa-2x fa-chevron-circle-down"
                  aria-hidden="true"
                ></i>
              </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
