<app-header [userImg]="userProfileImg"></app-header>
<app-banner [bannerTitle]="(bannerDetail$ | async)?.original_title" [bannerOverview]="(bannerDetail$ | async)?.overview"
  [key]="(bannerVideo$ | async)?.results[0].key"></app-banner>
<app-movie-carousel  [title]="'Popular on Netflix'" [VideoContents]="movies"></app-movie-carousel> 

<app-movie-carousel [title]="'Trending TV shows'" [VideoContents]="tvShows"></app-movie-carousel> 

<app-movie-carousel [title]="'Now Playing Movies'" [VideoContents]="nowPlayingMovies"></app-movie-carousel> 

<app-movie-carousel [title]="'Popular Movies'" [VideoContents]="popularMovies"></app-movie-carousel> 

<app-movie-carousel [title]="'Top Rated Movies'" [VideoContents]="topRatedMovies"></app-movie-carousel> 

<app-movie-carousel [title]="'Upcoming Movies'" [VideoContents]="upcomingMovies"></app-movie-carousel> 
